/* body bckgrnd */
body {
	background-image:url("BackgroundImage/nightsk.jpg");
	background-repeat: no-repeat;
  background-size: center;
  font-family:'Segoe UI';
}
/* override browser margins */
*{
	margin:0;
	padding:0;
}
/* paragraph color */
p {
	color:white;
	font-family:'Segoe UI';
}
/* span display type */
span{
	display:inline-block;
	

}
/* brand text */
.logo {
	font-size:40px;
	font-family:'Segoe UI';
}
/* login text attributes */
.login {
	font-size:14px;
	font-family:'Segoe UI';
	opacity:1;
}
/* sign in mail */
.email {
	opacity:1;
	font-family:'Segoe UI';
	width:140px;
	height:20px;
}
/* sign in pass */
.loginPass {
	opacity:1;
	width: 140px;
	height:20px;
}
/* REGISTRATION FORM */
.name {
	margin-left:-80px;
	font-family:'Segoe UI';
	width:195px;
	height:40px;
	border-radius:5px;
}
.surname {
	font-family:'Segoe UI';
	width:195px;
	height:40px;
	border-radius:5px;
}

.loginPass {
	opacity:1;
	width: 140px;
	height:20px;
}
.signUpMail {
	font-family:'Segoe UI';
	margin-left:-80px;
	border-radius:5px;
	height:40px;
	width:400px;
}

.newPassword {
	height:40px;
	width:400px;
	margin-left:-80px;
	border-radius:5px;
}

.days {
	width:50px;
	height:30px;
	border-radius:5px;
}
.months {
	width:50px;
	height:30px;
	border-radius:5px;
}
.years {
	width:50px;
	height:30px;
	
	border-radius:5px;
}
/* Header wrapper */
.wrapper1 {

	padding-bottom:20px;
	padding-top:0px;
	width:100%;
	margin-top:0px;
}
/* main divider */
.mainDiv {
	display:table;
}
/* Divider for the sign up form */
.wrapperRight {
	
	margin-top:25px;
}


span.header {
	color:white;
	margin-left:160px;
	margin-top:15px;
	
	font-family:"Times New Roman";
	font-weight:bold;
}
/* Login email form attributes */
span.login-email {
	color:white;
	margin-left:26em;
	margin-right:20px;
}
/* Login password form attributes */
span.login-password {
	color:white;
	float:bottom;
	position:relative;
}
/* Notification for when a user is trying to use the website on a tablet or smart phone */
.notification {
	display:none;
	font-size:30px;
	font-family:'Segoe UI';
}
/* Hidding of the elements on a small display */
@media only screen and (max-width: 970px){
	.login-password {
		display:none;
	}
	.login-email {
		display:none;
	}
	.logIn {
		display:none;
	}
	.constellationInfo {
		display:none;
	}
	.text {
		display:none;
	}
	.name {
		display:none;
	}
	.surname {
		display:none;
	}
	
	.loginPass {
		display:none;
	}
	.signUpMail {
		display:none;
	}
	
	.newPassword {
		display:none;
	}
	
	.days {
		display:none;
	}
	.months {
		display:none;
	}
	.godine {
		display:none;
	}
	.SexChoice  {
		display:none;
	}
	.registrationDateOfBirth {
		display:none;
	}
	
	.registerbtn {
		display:none;
	}
	.notification {
		display: contents;
		
	}

	
}
/* Moving the elements to fit the screen width of 1200px */
@media only screen and (max-width: 1200px){
	.login-lpassword{
		margin-left:80%;
	}
	.login-signInBtn {
		margin-left:70%;
	}
	.login-email {
		position:relative;
		left:160px;
		
	}
	
}
/* Moving the elements to fit the screen width of 1170px */
@media only screen and (max-width: 1170px){
	.login-password {
		margin-left:80%;
	}
	.login-signInBtn {
		margin-left:70%;
	}
	.login-email {
		margin-left:80%;
		position:relative;
		left:140px;
	}
	
}
/* Moving the elements to fit the screen width of 1150px */
@media only screen and (max-width: 1150px){
	.login-password {
		margin-left:80%;
	}
	.login-signInBtn {
		margin-left:70%;
	}
	.login-email {
		margin-left:80%;
		position:relative;
		left:130px;
	}
	
}
/* Moving the elements to fit the screen width of 1130px */
@media only screen and (max-width: 1130px){
	.login-password {
		margin-left:80%;
	}
	.login-signInBtn {
		margin-left:70%;
	}
	.login-email {
		margin-left:80%;
		position:relative;
		left:110px;
	}
	
}
/* Moving the elements to fit the screen width of 1110px */
@media only screen and (max-width: 1110px){
	.login-password {
		margin-left:80%;
	}
	.login-signInBtn {
		margin-left:70%;
	}
	.login-email {
		margin-left:80%;
		position:relative;
		left:90px;
	}
	
}
/* Moving the elements to fit the screen width of 1090px */
@media only screen and (max-width: 1090px){
	.login-password {
		margin-left:80%;
	}
	.login-signInBtn {
		margin-left:70%;
	}
	.login-email {
		margin-left:80%;
		position:relative;
		left:70px;
	}
	
}
/* Moving the elements to fit the screen width of 1070px */
@media only screen and (max-width: 1070px){
	.login-password {
		margin-left:80%;
	}
	.login-signInBtn {
		margin-left:70%;
	}
	.login-email {
		margin-left:80%;
		position:relative;
		left:50px;
	}
	
}
/* Moving the elements to fit the screen width of 1050px */
@media only screen and (max-width: 1050px){
	.login-password {
		margin-left:80%;
	}
	.login-signInBtn {
		margin-left:70%;
	}
	.login-email {
		margin-left:80%;
		position:relative;
		left:30px;
	}
	
}
/* Moving the elements to fit the screen width of 1030px */
@media only screen and (max-width: 1030px){
	.login-password {
		margin-left:80%;
	}
	.login-signInBtn {
		margin-left:70%;
	}
	.login-email {
		margin-left:80%;
		position:relative;
		left:10px;
	}
	
}


.text {
	font-family:'Segoe UI';
	position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
		opacity:1;
        right: 0;
        bottom: -55%;
		color:white;
		font-size:14px;
}
span.a p {
	font-size:45px;
	padding-left:10px;
	font-family:'Segoe UI';
}

.a2 {
	margin-left:40px;
	margin-top:50px;
}
/* Brief website intro */
.constellationInfo {
	font-family:'Segoe UI';
	font-size:25px;
	color:white;
	margin-top:40px;
	margin-left:120px;
	font-weight:bold;
}
/* Div for the intro text */
.world {
	margin-top:30px;
	margin-left:120px;
}

.a2  {
	font-family:'Segoe UI';
  float: left;
  width: 33.33%;
  padding: 5px;
}
.b2  {
	font-family:'Segoe UI';
	margin-bottom:10px;
  float: right;
  width: 33.33%;
  padding: 5px;
}
/* Divider for name and surname form */
.registrationNameSurname {
  float: right;
  width: 33.33%;
  padding: 7px;
}
/* Divider for email and password form */
.registrationEmailPassword {
  float: right;
  width: 33.33%;
  padding: 5px;
}
/* Gender choice select */
.SexChoice  {
	color:white;
  float: right;
  width: 33.33%;
  padding: 5px;
}
/* Date of birth selection */
.registrationDateOfBirth {
	margin-left:35%;
  float: right;
  width: 33.33%;
  padding: 5px;
}
/* Div for the register button */
.registerBtnDiv  {
	margin-left:35%;
  float: right;
  width: 33.33%;
  padding: 5px;
}
/* Register button */
.registerbtn {
	font-size:20px;
	height:45px;
	width:160px;
}
/* Registration text attributes */
.registrationText {
	font-family:'Segoe UI';
margin-left:-75px;
color:white;
	font-weight:bold;
	font-size:40px;
}
/* Registration text 2 attributes */
.registrationText2 {
	font-family:'Segoe UI';
	margin-left:-75px;
	color:white;
	font-size:22px;
}
/* log in button */

.logIn{
	margin-left:10px;
	color:white;
	background:black;
}


